@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  background-color: #eeebeb;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: #4b5e96;
}

.hide {
  display: none !important;
}

.container {
  min-width: 400px;
  min-height: 400px;
  background-color: #fff;
  padding: 2rem;
  margin-top: 3rem;
  border-radius: 2rem;
  box-shadow: 5px 5px 10px #a8b2b6;
}

.icon {
  width: 5rem;
  position: absolute;
  padding-bottom: 5px;
}

#icon {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

/* IMC Form */

#calc-container h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.form-inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form-control {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-bottom: 1rem;
}

.form-control label {
  font-weight: bold;
  margin-bottom: 0.6rem;
  color: #5B6FAC;
}

.form-control input {
  padding: 1rem 0.5rem;
  border-radius: 1rem;
  border: 2px solid #CFD0D1;
}

.form-control input:focus {
  outline: none;
  border: 2px solid #2FB2F6;
}

.action-control {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  gap: 1rem;
}

button {
  text-transform: uppercase;
  padding: 1rem 1.5rem;
  background-color: #2FB2F6;
  border: none;
  color: #fff;
  cursor: pointer;
  opacity: 0.9;
  flex: 1;
  border-radius: 1rem;
}

button:hover {
  opacity: 1;
}

#clear-btn {
  background-color: #444;
}

/* Table */

#result-container {
  text-align: center;
  display: flex;
  flex-direction: column;
}

#imc-number {
  font-size: 2.4rem;
  margin-bottom: 0.6rem;
}

#imc-info {
  font-size: 1.4rem;
  font-weight: bold;
  color: #394a80;
}

#result-container h3 {
  margin-top: 1rem;
  color: #8591b9;
}

#imc-table {
  margin: 1.5rem 0;
  font-size: 0.8rem;
}

.table-header {
  font-weight: bold;
  color: #394a80;
}

.table-header,
.table-data {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #444;
}

.table-header h4,
.table-data p {
  flex: 1;
}

.table-header h4:nth-child(3),
.table-data p:nth-child(3) {
  max-width: 80px;
}

#back-btn {
  align-self: center;
}

.good {
  color: #12db34;
}

.low {
  color: #dbce12;
}

.medium {
  color: #db6212;
}

.high {
  color: #db1912;
}

